# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/

# Virtual Environment
venv/
env/
myenv/
.env

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Zip and temp extraction
INTTRVU_HACKATHON.zip
extracted_zip/
